Backups/
*.zip
*.rar
.trae/
.vscode/
templates-dashboard/
Thumbs.db
.DS_Store
MyRVM-Server/public/vendor/node_modules/
MyRVM-Server/public/vendor/node_modules/@iconify/json/json/fluent-emoji.json

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/


# Ignored Tooling & Workflows
# Now managed in .git/info/exclude for privacy
